body {
  font-size: 1.7em;
  margin: 30px;
}

h1 {
  text-align: center;
}

h4 {
  margin: 3vh;
}

label {
  font-weight: bold;
}

video {
  border-radius: 10px;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: inline;
}

#video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.video-label {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin: 0 20px 10px 0;
}

.video-label label {
  text-align: center;
}

.chat-controllers {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 95%;
  justify-content: center;
}

#forms {
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0;
  height: 0;
  width: 100%;
  margin-left: 2%;
}

#chat {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  font-size: 16px;
  height: 23vh;
  overflow-y: scroll;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3.5vh;
  width: 60%;
  font-size: 20px;
  border-radius: 3px;
  border: 2px solid grey;
}

.button {
  /* margin-top: 20px;     */
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 20px;
  width: 35%;
  height: 4vh;
  border: 1px solid transparent;
  cursor: pointer;
  background: lightblue;
}

#controllers {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#create {
  width: 60%;
}

#created-session-id {
  visibility: hidden;
}

#error {
  font-size: 0.9em;
  margin-top: 0;
  color: red;
  text-align: center;
}
